body
{
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 0;
}
.container
{ 
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent url('img/teste.jpeg')   !important;
    background-repeat: repeat;
    height: 500px;
    width: 1000px;
}
.stadium
{
    display: flex;
    height: 450px;
    width: 950px;
    align-items: center;
    justify-content: center;
    border:3px solid white ;
    position: absolute;

}

                /* ###################################RIGHT-SIDE###################################### */
               
.right-side
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 420px;
    transform: rotate(180deg);}
.penalty-spot-right
{
    height: 100px;
    width: 50px;
    border-radius: 0px 100px 100px 0px;   
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;
}
.surface-to-repair-right
{
    display: flex;
    align-items: center;
    height: 170px;
    width: 130px;
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;

}
.field-poles-right
{
    height: 100px;
    width: 60px;
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;
}
.point
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 8px;
    background-color: white;
    margin-left: 27px;
    border-radius: 50%;
   

}
                /* ###################################END-RIGHT-SIDE###################################### */

                /* ###################################MIDDLE###################################### */

.central-round
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid white;
}
.central-point
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid white;
}
.cross-line
{
    background-color: white;
    height: 450px;
    width: 2px;
}
                /* ###################################END-MIDDLE###################################### */

                /* ###################################LEFT-SIDE###################################### */

.left-side
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 420px;
}
.penalty-spot-left
{
    height: 100px;
    width: 50px;
    border-radius: 0px 100px 100px 0px;   
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;
}
.surface-to-repair-left
{
    display: flex;
    align-items: center;
    height: 170px;
    width: 130px;
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;

}
.field-poles-left
{
    height: 100px;
    width: 60px;
    border-top:  2px solid white;
    border-right:  2px solid white;
    border-bottom:  2px solid white;
}
.point
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 8px;
    background-color: white;
    margin-left: 27px;
    border-radius: 50%;
}
.corner-container-right{
    height: 50px;
    width: 420px;
}
.container-field-poles{
    height: 350px;
    width: 420px;
    display: flex;
    align-items: center;
}
.corner-container-left{
    height: 50px;
    width: 420px;
}
.corner-left{
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 310px 0px; 
    border:2px solid white ;
  
}
.corner-right{
    width: 50px;
    height: 50px;
    border-radius: 0px 310px 0px 0px; 
    border:2px solid white ;
  
}

                /* ###################################END-LEFT-SIDE###################################### */
                .loader{
                   display: flex;
                   position: fixed;
                   bottom: 50px;
                   transition: opacity 0.7s ease-in;
               }
                .circle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                    margin: 10px;
                    border-radius: 50%;
                    animation: bouger 0.5s ease-in infinite;
                }
                .circle:nth-of-type(1){
                    animation-delay: 0.1s;
                    
                }
                .circle:nth-of-type(2){
                    animation-delay: 0.2s;
                    
                }
                .circle:nth-of-type(3){
                    animation-delay: 0.3s;
                    
                }
                
                @keyframes bouger{
                    0%,10%{
                        transform: translateY(10px);
                       
                    }
                    10%,20%{
                        transform: translateY(20px);
                
                    }
                    20%,30%{
                        transform: translateY(30px);

                    }
                    30%,40%{
                        transform: translateY(40px);

                    }
                    
                    
                }
